.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__close-delete-btn {
  right: -40px;
  top: -5px;
}

.modal__close-btn:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.modal__content-preview {
  padding: 0;
  background: none;
  position: relative;
}

.modal__form-delete {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  top: 81px;
  left: 497px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}

.modal__caption {
  background-color: #212121;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.modal__close-btn_type_preview {
  background-image: url("../images/Close-btn-light.svg");
  top: 0;
  right: -50px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fcf5e5;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #555555;
  display: block;
  margin-bottom: 32px;
}
.modal__input {
  padding: 16px 0 16px 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  margin: 8px 0 0;
  color: #212121;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  border: 1px solid rgb(33, 33, 33);
}

.modal__error {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #ff0000;
  width: 630px;
  height: 18px;
  margin-top: 8px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.modal__submit-btn_disabled {
  cursor: not-allowed;
  background: #212121;
  opacity: 0.5;
}

.modal__submit-btn_disabled:hover {
  background: #212121;
  opacity: 0.8;
}

.modal__title-delete {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.modal__submit-btn_delete {
  width: 156px;
  height: 56px;
  gap: 8px;
  border-radius: 8px;
  border: none;
  background-color: #ff6565;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.modal__submit-btn_delete:hover {
  background: #ff3333;
}

.modal__submit-btn_cancel {
  width: 156px;
  height: 56px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #212121;
  background-color: #ffffff;
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.modal__submit-btn_cancel:hover {
  background: #212121;
  color: #ffffff;
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__content_type_preview {
    padding: 16px;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 60vh;
    top: 89px;
    left: 16px;
    gap: 0px;
  }

  .modal__caption {
    font-size: 18px;
    line-height: 22px;
    width: 111 px;
    height: 27px;
    left: 16px;
    padding: 4px 8px 4px 8px;
    margin: 5px;
  }

  .modal__close-btn_type_preview {
    top: -35px;
    right: -15px;
  }

  .modal__submit-btn_cancel {
    width: 156px;
    height: 56px;
  }

  .modal__form-delete {
    flex-direction: column;
    align-items: center;
  }

  .modal__submit-btn_delete,
  .modal__submit-btn_cancel {
    width: 100%; /* Make buttons full-width */
    max-width: 200px;
  }

  .modal__submit-btn_delete {
    justify-items: center;
  }

  .modal__close-delete-btn {
    top: -35px;
    right: -5px;
  }
}

@media screen and (max-width: 320px) {
  .modal__caption {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    position: absolute;
    background-color: #212121;
    border-radius: 8px;
    left: 0;
  }

  .modal__form-delete {
    flex-direction: column;
  }

  .modal__submit-btn_delete {
    justify-items: center;
  }
}
